body{
    margin: 50px;
}
#tableWrapper, #tableWrapper td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 10px;
}
#tableWrapper td button {
    border: none;
    background: #eee;
    font-size: 2rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
}